---
interface Props {
  href: string;
  class?: string;
}
const { href, class: className = "" } = Astro.props;
---

<div class={className}>
  <a
    class="bg-primary inline-flex w-fit items-center justify-center gap-x-1.5 rounded-md border border-white bg-grey-dark px-8 py-4 text-center text-sm text-white shadow-sm hover:bg-grey-medium active:bg-grey-darkest"
    href={href}
  >
    <slot />
    <!-- Chevron Right-->
    <svg
      class="h-4 w-4"
      width="7"
      height="13"
      viewBox="0 0 7 13"
      fill="currentColor"
      xmlns="http://www.w3.org/2000/svg"
    >
      <path
        d="M0.609375 1.11523C0.736328 0.988281 0.914062 0.988281 1.04102 1.11523L6.37305 6.42188C6.47461 6.54883 6.47461 6.72656 6.37305 6.85352L1.04102 12.1602C0.914062 12.2871 0.736328 12.2871 0.609375 12.1602L0.101562 11.6777C0 11.5508 0 11.3477 0.101562 11.2461L4.69727 6.625L0.101562 2.0293C0 1.92773 0 1.72461 0.101562 1.59766L0.609375 1.11523Z"
      ></path>
    </svg>
  </a>
</div>
