<form class="mt-10">
  <div class="grid grid-cols-1 gap-7">
    <label class="sr-only" for="name">Name</label>
    <input
      class="bg-purple-dark border-purple-light placeholder:text-purple-bright ring-gray-300 block rounded-sm border p-1.5 shadow-sm ring-1 ring-inset"
      id="name"
      type="text"
      placeholder="Your name"
    />

    <label class="sr-only" for="company">Company</label>
    <input
      class="bg-purple-dark border-purple-light placeholder:text-purple-bright ring-gray-300 block rounded-sm border p-1.5 shadow-sm ring-1 ring-inset"
      id="company"
      type="text"
      placeholder="Your company"
    />

    <label class="sr-only" for="email">Email</label>
    <input
      class="bg-purple-dark border-purple-light placeholder:text-purple-bright ring-gray-300 block rounded-sm border p-1.5 shadow-sm ring-1 ring-inset"
      id="email"
      type="email"
      placeholder="Email"
    />

    <label class="sr-only" for="phone">Phone</label>
    <input
      class="bg-purple-dark border-purple-light placeholder:text-purple-bright ring-gray-300 block rounded-sm border p-1.5 shadow-sm ring-1 ring-inset"
      id="phone"
      type="text"
      placeholder="Your phone"
    />

    <label class="sr-only" for="message">Message</label>
    <textarea
      rows="3"
      class="bg-purple-dark border-purple-light placeholder:text-purple-bright ring-gray-300 block rounded-sm border p-1.5 shadow-sm ring-1 ring-inset"
      require('@tailwindcss
      forms'),id="message"
      placeholder="Message"></textarea>
  </div>

  <button
    type="submit"
    class="bg-primary mt-10 inline-flex w-full items-center justify-center gap-x-1.5 rounded-md border border-white bg-grey px-8 py-4 text-sm text-white shadow-sm"
    >Send</button
  >
</form>
